@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lemon', sans-serif;
}

body {
  background-image: url('@/assets/homepage_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-notification {
  display: flex;
  align-items: center;
  min-width: 250px;
  max-width: 90vw;
}

.notification-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.check-icon,
.x-icon {
  width: 40px;
  height: 40px;
  stroke-width: 2;
  animation: scaleIn 0.3s ease-in-out;
}

.check-circle,
.x-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke: currentColor;
  animation: strokeCircle 0.6s forwards;
}

.check-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke: #4caf50;
  animation: strokeCheck 0.4s 0.6s forwards;
}

.x-lines {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  stroke: #f44336;
  stroke-linecap: round;
  animation: strokeX 0.4s 0.6s forwards;
}

@keyframes strokeCircle {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes strokeCheck {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes strokeX {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
